@import '../../config';

.subscribe-section {
   padding: 2em 0;
   @include flex-c-c;
   flex-direction: column;
   background: royalblue;
   color: $dark-clr1;

   h1 {
      font-size: clamp(1rem, 5vw, 1.6rem);
      width: max-content;
      border-bottom: 2px solid cornflowerblue; 
      font-weight: 600;
   }

   button {
      padding: .5em 1em;
      border: 2px solid orangered;
      border-radius: .5em;
      background: none;
      margin-top: .5em;
      background: rgba(255, 68, 0, 0.7);
      cursor: pointer;
      transition: .3s;

      &:hover { background: rgba(255, 68, 0, 0.9); }

      p { font-weight: 600; color: $dark-clr1; text-transform: uppercase; }
   }

   p.p-text {
      font-size: .85rem;
      margin: .3em 0 1.5em 0;
      text-align: center;
   }

   input {
      width: 600px;
      max-width: 95%;
      text-align: center;
      border: 2px solid orangered;
      background: rgba(255, 68, 0, 0.7);
      padding:.8em 0;
      outline: 0;
      font-size: clamp(1rem, 5vw, 1.5rem);
      border-radius: .2em;
      font-family: 'Hubballi', cursive;
      color: $dark-clr1;
      &::placeholder { color: $dark-clr1; opacity: .4; }
   }
}