@import '../../config';

footer {
   border-top: 2px solid #404040;
   background: #dad2d2;
   padding-bottom: 3em;

   section.social {
      @include flex-c-c;
      flex-direction: column;
      border-bottom: 2px solid white;
      background: #c4c4c4;
      padding: 3em 0;

      h1 {
         font-weight: 100;
         font-size: clamp(1.7rem, 8vw, 3rem);
         color: orangered;
         margin-bottom: .5em;
         border-bottom: 1px solid orangered;
      }

      span {
         margin: 0 .5em;
         cursor: pointer;

         &:hover svg {
            color: royalblue;
         }  
      }

      svg {
         width: clamp(25px, 6vw, 40px);
         height: clamp(25px, 6vw, 40px);
         transition: .3s;
      }
   }

   p {
      text-align: center;
      font-weight: 700;
      color: orangered;
      font-size: clamp(.9rem, 4vw, 1rem);
   }

   section.lists {
      @include flex-sa-c;
      padding: 3em 0 5em 0;

      ul {
         list-style: none;

         li {
            &.first {
               font-size: clamp(1.8rem, 3vw, 2rem);
               border-bottom: 2px solid black;
               margin-bottom: .5em;
               font-weight: 700;
            }

            &:not(.first) {
               font-size: clamp(1rem, 2vw, 1.1rem);
               margin-bottom: .2em;
               cursor: pointer;
               transition: .2s;

               &:hover {
                  color: royalblue;
               }
            }
         }
      }
   }
}

@media (max-width: 480px){
   footer {
      section.lists {
         flex-direction: column;
         padding: 3em 0 1em 0;

         ul {
            margin-bottom: 2em;
            li {
               text-align: center;
            }
         }
      }
   }
} 