/* -- ALL -- */
/* -- NAV -- */
/* -- MAIN HEADER -- */
.choose-cont {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose-cont article {
  width: 45%;
  height: 40vw;
  border: 2px solid #303030;
  border-radius: .5em;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose-cont article button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 1em;
  padding: clamp(0.5em, 1.2vw, 1em) clamp(0.5em, 1.2vw, 1.5em);
  background: cornflowerblue;
  border: 2px solid #1a51f3;
  color: whitesmoke;
  border-radius: .2em;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.choose-cont article button:hover {
  background: #1a51f3;
}

.choose-cont article button p {
  font-weight: 100;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  text-transform: uppercase;
  color: whitesmoke;
  text-shadow: 0 0 1px black;
}

.choose-cont article section.inner {
  width: 90%;
  background: rgba(223, 223, 223, 0.95);
  border: 2px solid orangered;
  border-radius: .2em;
  border-left: 0;
  padding: 1em;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-100%);
          transform: translateY(-50%) translateX(-100%);
  -webkit-transition: .5s;
  transition: .5s;
}

.choose-cont article section.inner section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose-cont article section.inner section div {
  text-align: center;
  color: #3564f0;
}

.choose-cont article section.inner section div svg {
  width: clamp(20px, 1.5vw, 25px);
  height: clamp(20px, 1.5vw, 25px);
}

.choose-cont article section.inner section div h4 {
  font-size: 1rem;
  font-family: 'Hubballi', cursive;
}

.choose-cont article section.inner p {
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  text-align: center;
  line-height: 1.5em;
  font-weight: 400;
  margin: 1.5em 0;
}

.choose-cont article section.inner h3 {
  text-align: center;
  font-family: 'Hubballi', cursive;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 2vw, 2rem);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom: 2px solid orangered;
  margin: 0 auto;
  color: orangered;
  text-shadow: 0 0 1px black;
}

.choose-cont article section.inner h2 {
  background: orangered;
  border: 1px solid orange;
  border-radius: .2em 0 0 .2em;
  border-right: 0;
  position: absolute;
  left: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 50%;
  padding: 1em .5em;
  color: whitesmoke;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: translateY(-50%) rotateX(180deg) rotateY(180deg);
          transform: translateY(-50%) rotateX(180deg) rotateY(180deg);
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.choose-cont article section.inner h2:hover {
  background: orange;
}

.choose-cont article img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  z-index: -1;
  -webkit-transition: .8s;
  transition: .8s;
}

.choose-cont article h1 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  text-align: center;
  padding: .5em 0;
  letter-spacing: 1px;
  text-shadow: 0 0 2px #303030, 0 0 4px #303030;
  color: white;
  background: rgba(255, 255, 255, 0.55);
  -webkit-box-shadow: 0 0 4px black, 0 0 8px black;
          box-shadow: 0 0 4px black, 0 0 8px black;
  width: 100%;
}

@media (max-width: 768px) {
  .choose-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .choose-cont article {
    width: 80%;
    height: 65vw;
    margin: 2em 0;
  }
}

@media (max-width: 480px) {
  .choose-cont article {
    width: 95%;
    height: 90vw;
    margin: 2em 0;
  }
  .choose-cont article h1 {
    font-size: clamp(1rem, 5vw, 1.5rem);
  }
  .choose-cont article section.inner {
    padding: .5em 0;
  }
  .choose-cont article section.inner h3 {
    font-size: clamp(1rem, 5vw, 1.5rem);
  }
  .choose-cont article section.inner p {
    font-size: clamp(0.6rem, 3vw, 0.9rem);
  }
  .choose-cont article section.inner section div svg {
    width: clamp(15px, 3vw, 25px);
    height: clamp(15px, 2vw, 25px);
  }
  .choose-cont article section.inner section div h4 {
    font-size: clamp(0.85rem, 2vw, 1rem);
  }
}
