/* -- ALL -- */
/* -- NAV -- */
/* -- MAIN HEADER -- */
footer {
  border-top: 2px solid #404040;
  background: #dad2d2;
  padding-bottom: 3em;
}

footer section.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 2px solid white;
  background: #c4c4c4;
  padding: 3em 0;
}

footer section.social h1 {
  font-weight: 100;
  font-size: clamp(1.7rem, 8vw, 3rem);
  color: orangered;
  margin-bottom: .5em;
  border-bottom: 1px solid orangered;
}

footer section.social span {
  margin: 0 .5em;
  cursor: pointer;
}

footer section.social span:hover svg {
  color: royalblue;
}

footer section.social svg {
  width: clamp(25px, 6vw, 40px);
  height: clamp(25px, 6vw, 40px);
  -webkit-transition: .3s;
  transition: .3s;
}

footer p {
  text-align: center;
  font-weight: 700;
  color: orangered;
  font-size: clamp(0.9rem, 4vw, 1rem);
}

footer section.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 0 5em 0;
}

footer section.lists ul {
  list-style: none;
}

footer section.lists ul li.first {
  font-size: clamp(1.8rem, 3vw, 2rem);
  border-bottom: 2px solid black;
  margin-bottom: .5em;
  font-weight: 700;
}

footer section.lists ul li:not(.first) {
  font-size: clamp(1rem, 2vw, 1.1rem);
  margin-bottom: .2em;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

footer section.lists ul li:not(.first):hover {
  color: royalblue;
}

@media (max-width: 480px) {
  footer section.lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3em 0 1em 0;
  }
  footer section.lists ul {
    margin-bottom: 2em;
  }
  footer section.lists ul li {
    text-align: center;
  }
}
