/* -- ALL -- */
/* -- NAV -- */
/* -- MAIN HEADER -- */
header.main-header {
  background: url("../images/header-light.png");
  background-size: cover;
  background-position: 50% 50%;
  height: calc(100vh - 67px);
}

header.main-header h1 {
  text-align: center;
  font-size: clamp(1.3rem, 5vw, 4rem);
  color: whitesmoke;
  text-shadow: 1px 1px 2px black, 0 0 3px black, 0 0 4px black;
  font-weight: 700;
  width: 80%;
  padding: 1em 0;
  margin: 0 auto;
}

header.main-header section.buttons {
  width: 450px;
  max-width: 95%;
  margin: 2em auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.main-header section.buttons button {
  padding: clamp(0.5em, 3vw, 1.2em) 1em;
  border-radius: .2em;
  background: none;
  outline: 0;
  width: 45%;
  color: white;
  background: orangered;
  border: 2px solid orangered;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
}

header.main-header section.buttons button:hover {
  background: orange;
  border-color: orange;
}

header.main-header section.buttons button p {
  font-weight: 700;
  text-shadow: 1px 1px 1px black;
  font-size: clamp(0.8rem, 4vw, 1.2rem);
}

header.main-header section.input-text {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  max-width: 95%;
}

header.main-header section.input-text span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header.main-header section.input-text span svg {
  width: clamp(20px, 5vw, 35px);
  height: clamp(20px, 5vw, 35px);
}

header.main-header section.input-text span.ic-srch {
  left: 2%;
}

header.main-header section.input-text span.ic-srch svg {
  color: black;
}

header.main-header section.input-text span.ic-del {
  right: 2%;
  color: #db0d0d;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

header.main-header section.input-text span.ic-del svg {
  -webkit-transition: .3s;
  transition: .3s;
  pointer-events: none;
}

header.main-header section.input-text span.ic-del:hover svg {
  color: red;
}

header.main-header section.input-text input {
  width: 100%;
  border: 2px solid royalblue;
  padding: 1.1em;
  background: whitesmoke;
  border-radius: .5em;
  font-size: clamp(0.9rem, 4vw, 1.5rem);
  text-align: center;
  outline: 0;
  letter-spacing: 1.5px;
  word-spacing: 2.5px;
  font-weight: 700;
}

header.main-header section.input-text label {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: clamp(0.9rem, 4vw, 1.5rem);
  font-family: 'Hubballi', cursive;
  pointer-events: none;
  color: #606060;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 480px) {
  header.main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header.main-header h1 {
    width: 100%;
  }
}
