/* -- ALL -- */
/* -- NAV -- */
/* -- MAIN HEADER -- */
nav.layout-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #606060;
  padding: 0 1em;
  position: relative;
  background: #fafafa;
}

nav.layout-nav section.layout-sect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
}

nav.layout-nav section.layout-sect ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
}

nav.layout-nav section.layout-sect ul li {
  font-weight: 400;
  margin: 0 .6em;
  letter-spacing: .5px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: clamp(0.85rem, 3vw, 1rem);
  position: relative;
}

nav.layout-nav section.layout-sect ul li::before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  bottom: 0;
  width: 100%;
  height: 1px;
  background: royalblue;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.layout-nav section.layout-sect ul li:hover {
  color: royalblue;
}

nav.layout-nav section.layout-sect ul li:hover::before {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

nav.layout-nav section.layout-sect div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.layout-nav section.layout-sect div.icons span {
  margin: 0 .5em;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

nav.layout-nav section.layout-sect div.icons span::before {
  position: absolute;
  content: attr(data-text);
  white-space: nowrap;
  left: 50%;
  top: 120%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: whitesmoke;
  background: royalblue;
  font-family: 'Hubballi', cursive;
  padding: .3em;
  border-radius: .2em;
  z-index: 9999;
  -webkit-transition: .3s;
  transition: .3s;
  pointer-events: none;
  opacity: 0;
}

nav.layout-nav section.layout-sect div.icons span:hover svg {
  color: royalblue;
}

nav.layout-nav section.layout-sect div.icons span:hover::before {
  pointer-events: all;
  opacity: 1;
}

nav.layout-nav section.layout-sect div.icons span svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transition: .3s;
  transition: .3s;
}

nav.layout-nav section.layout-sect div.menu {
  width: 30px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

nav.layout-nav section.layout-sect div.menu span {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .4s;
  transition: .4s;
}

nav.layout-nav section.layout-sect div.menu span.active {
  background: #db2626;
}

nav.layout-nav section.layout-sect div.menu span:nth-child(1) {
  top: 20%;
}

nav.layout-nav section.layout-sect div.menu span:nth-child(2) {
  top: 50%;
}

nav.layout-nav section.layout-sect div.menu span:nth-child(3) {
  top: 80%;
}

nav.layout-nav figure {
  height: 65px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.layout-nav figure img {
  width: 100%;
}

@media (max-width: 480px) {
  nav.layout-nav section.layout-sect ul li:nth-child(3) {
    display: none;
  }
  nav.layout-nav section.layout-sect div.icons span:nth-child(2), nav.layout-nav section.layout-sect div.icons span:nth-child(3) {
    display: none;
  }
}
