/* -- ALL -- */
/* -- NAV -- */
/* -- MAIN HEADER -- */
.offer-nav {
  background: royalblue;
  padding: 0 .5em;
}

.offer-nav section.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-nav h6 {
  margin-right: 2em;
  color: whitesmoke;
}

.offer-nav h6 span {
  border-bottom: 1px solid whitesmoke;
}

.offer-nav section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.offer-nav section.search {
  padding: .3em 0;
}

.offer-nav section.search input {
  height: 90%;
  width: clamp(180px, 23vw, 220px);
  border: 1px solid orangered;
  padding: .5em;
  background: rgba(255, 68, 0, 0.6);
  border-radius: .3em;
  outline: 0;
  color: whitesmoke;
  font-size: clamp(0.9rem, 4vw, 1rem);
}

.offer-nav section.search svg {
  position: absolute;
  right: 100%;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: whitesmoke;
}

.offer-nav section div.wrap-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer-nav section div.select-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: .5em;
  padding: .2em 0;
}

.offer-nav section div.select-div select {
  border: 1px solid #ec6433;
  background: #f86029;
  color: whitesmoke;
  padding: .5em;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  outline: 0;
  border-radius: .2em;
}

.offer-nav section div.select-div select:hover {
  background: orangered;
}

.offer-nav section div.select-div svg {
  width: clamp(10px, 2vw, 20px);
  height: clamp(10px, 2vw, 20px);
  -webkit-filter: drop-shadow(0 0 1px black);
          filter: drop-shadow(0 0 1px black);
  margin-right: .5em;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .offer-nav section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .offer-nav section.user-city {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .offer-nav section.search {
    margin: 0 auto;
    width: 85%;
  }
  .offer-nav section.search input {
    width: 100%;
  }
  .offer-nav section div.select-div select {
    width: clamp(100px, 30vw, 150px);
    font-size: clamp(0.65rem, 3vw, 0.8rem);
  }
  .offer-nav section div.select-div svg {
    width: 15px;
    height: 15px;
  }
}
