/* -- ALL -- */
/* -- NAV -- */
/* -- MAIN HEADER -- */
.slider-two {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-two figure {
  width: 50%;
  position: relative;
  overflow: hidden;
}

.slider-two figure section {
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 555;
}

.slider-two figure section div {
  width: clamp(12px, 3vw, 15px);
  height: clamp(12px, 3vw, 15px);
  border-radius: 50%;
  background: cornflowerblue;
  border: 2px solid royalblue;
  margin: 0 .5em;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider-two figure section div.active {
  background: orangered !important;
  pointer-events: none;
}

.slider-two figure section div:hover {
  background: #4b6dad;
}

.slider-two figure div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-two figure div img {
  width: 100%;
}

.slider-two article {
  width: 35%;
  border-radius: .5em;
  background: rgba(221, 224, 221, 0.4);
  padding: 1em;
}

.slider-two article h1 {
  text-align: center;
  font-size: clamp(1rem, 7vw, 2.5rem);
  font-family: 'Hubballi', cursive;
  color: royalblue;
  text-shadow: 0 0 2px black;
  margin-bottom: .5em;
}

.slider-two article p.desc {
  font-weight: 400;
  font-size: clamp(0.75rem, 4vw, 0.9rem);
  padding: 1em 0 1.5em 0;
  text-align: center;
}

.slider-two article button {
  width: 30%;
  min-width: 130px;
  outline: 0;
  border: 1px solid orangered;
  border-radius: .2em;
  background: orangered;
  color: white;
  margin: 0 auto;
  padding: .6em 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  display: block;
}

.slider-two article button span {
  position: absolute;
  height: calc(100% + 6px);
  background: orange;
  width: 80%;
  border-radius: .2em;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scaleX(0);
          transform: translate(-50%, -50%) scaleX(0);
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
  display: block;
}

.slider-two article button:hover {
  background: #993000;
}

.slider-two article button:hover span {
  -webkit-transform: translate(-50%, -50%) scaleX(1);
          transform: translate(-50%, -50%) scaleX(1);
}

.slider-two article button p {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 2px black;
}

@media (max-width: 768px) {
  .slider-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-two article {
    width: 90%;
  }
  .slider-two figure {
    width: 75%;
    min-width: 250px;
  }
}
