/* -- ALL -- */
/* -- NAV -- */
/* -- MAIN HEADER -- */
.slider-one {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-one h1 {
  text-align: center;
  font-weight: 100;
  text-shadow: 0 0 1px royalblue, 0 0 2px royalblue;
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.slider-one p {
  text-align: center;
  font-size: clamp(0.75rem, 4vw, 0.85rem);
}

.slider-one article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.slider-one section.images {
  width: 55%;
  position: relative;
}

.slider-one section.images figure {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.slider-one section.images figure div {
  height: inherit;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-one section.images figure div img {
  width: 100%;
  -webkit-transition: .8s;
  transition: .8s;
}

.slider-one section.images figure div img:not(:nth-child(2)) {
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

.slider-one section.images span {
  position: absolute;
  top: 50%;
  height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 999;
}

.slider-one section.images span:hover {
  background: rgba(0, 0, 0, 0.15);
}

.slider-one section.images span svg {
  width: clamp(14px, 2.5vw, 30px);
  height: clamp(14px, 2.5vw, 30px);
  pointer-events: none;
}

.slider-one section.images span:first-of-type {
  left: 0;
}

.slider-one section.images span:last-of-type {
  right: 0;
}

.slider-one section.text {
  width: clamp(300px, 38vw, 450px);
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-one section.text button {
  width: 30%;
  min-width: 100px;
  outline: 0;
  border: 1px solid orangered;
  border-radius: .2em;
  background: orangered;
  color: white;
  margin: 0 auto;
  padding: .6em 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  position: relative;
  display: block;
}

.slider-one section.text button span {
  position: absolute;
  height: calc(100% + 6px);
  background: orange;
  width: 80%;
  border-radius: .2em;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scaleX(0);
          transform: translate(-50%, -50%) scaleX(0);
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
  display: block;
}

.slider-one section.text button:hover {
  background: #993000;
}

.slider-one section.text button:hover span {
  -webkit-transform: translate(-50%, -50%) scaleX(1);
          transform: translate(-50%, -50%) scaleX(1);
}

.slider-one section.text button p {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 2px black;
}

.slider-one section.text h2 {
  text-align: center;
  font-family: 'Hubballi', cursive;
  border-bottom: 1px solid royalblue;
  color: #6f91f7;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto .5em auto;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-one section.text .desc {
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  padding: 0 .2em;
}

.slider-one section.text section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-one section.text section div {
  margin: 0 .2em;
}

.slider-one section.text section div svg {
  display: block;
  margin: 0 auto;
}

.slider-one section.text section h3 {
  text-align: center;
  font-size: .8rem;
}

@media (max-width: 768px) {
  .slider-one article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-one section.images {
    width: 450px;
    max-width: 95%;
  }
  .slider-one section.images span:first-of-type {
    left: -5px;
  }
  .slider-one section.images span:last-of-type {
    right: -5px;
  }
  .slider-one section.images span svg {
    width: clamp(14px, 4vw, 30px);
    height: clamp(14px, 4vw, 30px);
  }
  .slider-one section.text {
    width: 99%;
  }
}
