@import '../../config';

article.big {
   width: 500px;
   height: 260px;
   display: flex;

   p {
      text-align: center;
      font-size: clamp(.7rem, 4vw, .8rem);
      padding: 0 .5em;
   }

   figure {
      width: 35%;
      position: relative;
      overflow: hidden;

      img { height: 100%; @include abs-50-50; }
   }

   h4 {
      width: 13%;
   }

   section {
      width: 65%;
      @include flex-sa-c;
      flex-direction: column;
   }
   
}